<h1>Membership</h1>

<p>
  <strong>Session</strong>
  <%= link_to @cuco_session.name, @cuco_session %>
</p>

<p>
  <strong>Family</strong>
  <%= link_to @membership.family.name, @membership.family %>
</p>
