<%= content_for :page_title, "Periods" %>

<h1>Available Periods</h1>
(Click to edit)

<table style="table table-striped">
  <% @periods.each do |period| %>
    <tr>
      <td><%= link_to period.name, edit_period_path(period) %></td>
      <td>(<%= period.duration_text %>)</td>
    </tr>
  <% end %>
</table>