<%= content_for :page_title, "Family Directory" %>

<h1>Family Directory</h1>

<% @families.each do |family| %>
  <%= render 'single_family_for_directory', family: family %>
<% end %>

<%= link_to 'Back to Session', @cuco_session, class: "no-print" %>