<%= content_for :page_title, 'Concern Resolution Meeting Process - Columbus Unschoolers Cooperative (CUCO)' %>

<h2>Concern Resolution Meeting Process:</h2>

<p></p>Concern Resolution Process for Meetings with the Board</p>

<p></p>After someone has filled out a <%= link_to 'concern form', "https://docs.google.com/forms/d/e/1FAIpQLSfXA0q0XqrSWdQcpnFwFVM1aTzfM6EocD8vLAFyuyyv3HrmQA/viewform" %> and it's been determined there should be a meeting to resolve the concern the steps below will be taken.</p>

<p></p>The goal of this meeting process is finding a solution to the problem. The Board will hold a meeting in a private comfortable neutral place with cookies. The rules for our meeting will be; no name-calling, everyone takes turns talking, no interrupting, and everything is private and confidential. One Board member will take notes which will be archived on the website for Board members viewing only. A copy will be given to all participants involved.</p>

<p>
<ol>
  <li>First, we’ll introduce everyone involved.</li>
  
  <li>Then we’ll ask the first person what happened. Then we’ll paraphrase to make sure we have heard correctly.</li>

  <li>We’ll ask how that person felt at the time of the situation(s). We’ll reflect back the words.</li>

  <li>We’ll ask the next person what happened. Then we’ll paraphrase to
make sure we have heard correctly.</li>

  <li>We’ll ask that person how they felt at the time of the situation(s), then reflect back their words.</li>

  <li>We’ll repeat these steps with everyone involved in the situation.</li>

  <li>We’ll ask each person in turn what they could have differently during the situation, then paraphrase each idea.</li>

  <li>We’ll ask each person what they have already tried to do to resolve the situation.</li>

  <li>We’ll ask each person in turn what they could do here and now to help solve the problem, and paraphrase each idea.</li>

  <li>We’ll ask each person what they would like the other people to do
about the situation.</li>

  <li>We’ll help bring everyone involved closer to a solution using creative questioning.</li>

  <li>We’ll help the participants find a solution they feel good about.</li>

  <li>We’ll repeat the solution and all of its parts to the participants and ask if each one agrees to it. We’ll promise to check up on the results of the solution within a month.</li>

  <li>We’ll congratulate everyone on successfully solving the problem with respect and compromise.</li>
</ol>
</p>