<%= content_for :page_title, 'A Day at CUCO' %>

<h2>A Day at CUCO</h2>

<p>If you aren’t going to make it to co-op, or are running late Tuesday,
please text or call 614- 450-CUCO (2826). Up until the day before co-op, you can email cucohelp@gmail.com as early as possible so that we can fill your jobs.</p>

<p>If you are unsure of what to do, where to go, or have any questions, please look for someone with a star on their nametag. They’ve volunteered to help.</p>

<p>9:45 arrive. Put your belongings on the tables in the auditorium.
<br />Check the board in the lobby for any schedule or job changes that affect you. The board will be updated throughout the day as people call in sick, so please check the board throughout the day. Get your nametags from the board. Take a set-up job to do. The left of the board has task cards to be done. Take a card, do the task, and return the card to the bottom envelopes on the right.</p>

<p>10:00 -10:55 First period
<br />Go to classes/freeplay or jobs. Classes and their locations are on a page on the board. Freeplay is usually in the auditorium, the gym, or the playground, if there is a supervising adult.</p>

<p>11:00 – 11:55 Second Period
<br />Go to classes/freeplay or jobs. If you have extra time at the end, please come help setup for lunch.</p>

<p>12:00 – 12:55 Lunch
<br />Lunch can be eaten in the auditorium, the lobby, the downstairs meeting room, or outside, if there’s an adult outside to supervise. When you’re done eating, please clean up after yourselves, then you can hang out in the auditorium or the gym, if there’s an adult to supervise. If you can, please help put away the chairs and tables.</p>

<p>1:00 – 1:55 Third Period
<br />Go to classes/freeplay or jobs.</p>

<p>2:00 – 2:55 Fourth Period
<br />Go to classes/freeplay or jobs.</p>

<p>3:00 End of day
<br />Put your nametags back on the board. Take a clean up task card from the top of the board, do the task, then put the card back on the bottom of the board. Collect your stuff from the table in the auditorium. Don’t forget anything; Fedderson doesn’t keep anything around for more than a few days. Go home. Have a great week!</p>
