<h2>CUCO’s Expectations of Members:</h2>
<ul>
<li>We expect all members to treat each other, Fedderson and its staff equally and strive to leave things better than we found them.</li>

<li>We expect members to be on time and prepared for co-op, classes, and volunteer duties. Text (614-450-CUCO (2826) if late Tuesday or email if members know they’ll miss CUCO in advance.</li>

<li>We expect every family to take at least two jobs, help with cleanup or set-up and attend at least two classes and lunch, to support the feeling of community.</li>

<li>We expect members to watch out for each other and help where needed. For example smaller children may need help getting to their destination.</li>

<li>We expect a reminder and gentle redirection if someone is not following the rules; if that is not enough, talk with the person and/or the person’s adult about your concern, board members are also available to help.</li>

<li>We expect members to be mindful and use gentle and kind words with each other; if there is disagreement to be respectful and ask for help from adults or friends if needed to find a solution.</li>

<li>We expect members to use the concern resolution process if they don’t feel they can fix a problem on their own.</li>

</ul>

<h2>Rules:</h2>
<ul>
<li>Wear shoes and walk in the hallways.</li>

<li>The stage is only for use during special activities, adults may retrieve toys from it.</li>

<li>Children can be in any of the freeplay areas with an adult monitor. If an area is closed because there is no monitor the Floater will open it if you find an adult monitor.</li>

<li>A child cannot be outside alone. If there’s not an adult at the playground it is closed until one is found.</li>

<li>We only eat in the auditorium, meeting room, kitchen, or lobby.</li>

<li>Children must have an adult with them to go to the basement.</li>
</ul>

<h2>Information:</h2>
<ul>
<li>Anyone who has attended more than one season of co-op, including kids, can teach a class.</li>

<li>Children can travel from one place to another alone but not wander the halls or stay in an area without any of our adults supervising. People may quietly walk and talk in the upstairs hallway, but not hang out there.</li>

<li>The freeplay areas are the lobby, auditorium, and playground. The gym and gameroom will be freeplay areas whenever they aren’t hosting a class. The lobby is for hanging out. The open gym is encouraged for rougher or faster play; the bleachers are for hanging out. The auditorium is encouraged for calmer, slower play.</li>

<li>We stay away from the truancy center’s room, stairs, bathroom, and entrance door by the parking lot. If you have trouble with stairs, a stroller, cart, or are loading/unloading, you can use the entrance’s ramp.</li>
</ul>
