<%= content_for :page_title, 'Hardship Pass' %>

<h1>Hardship Pass</h1>

  <p>A hardship pass allows you to be exempt from volunteer jobs for one session. You can request a hardship pass if you have been a member for three or more sessions, you are facing an unusual amount of stressors in your life, and you are unable to contribute by doing any volunteer jobs.</p>
  <ul>
    <li>After having volunteered 3 sessions, a family is eligible to request a Hardship Pass.</li>
    <li>At most, we can accommodate two families per session.</li>
    <li>Hardship Passess are available on a first come, first served basis.</li>
    <li>To request a Hardship Pass, please contact any board member.  Details are not required and your privacy is paramount.  The board will review and respond to the request within 7 days at the most.</li>
    <li>Our ability to offer hardship passes is limited.  If you find you are unable to contribute the session just after having utilized a hardship pass, we need you to take some time off until you can contribute once again.  This enables other families to utilize passes.</li>
    <li>There is a list of off-site jobs that need to be done each session. If you are finding that doing volunteer shifts while you are at CUCO is challenging, there is the possibility of meeting your volunteer requirement with these off-site jobs.</li>
  </ul>

  <h2>Administrative Notes</h2>
  <ul>
    <li>When a hardship pass is requested, the board member who received the Hardship Pass request will notify the rest of the board.</li>
    <li>The entire board will make the decision about being able to offer it solely based on the first come, first served basis.</li>
    <li>If the board is able to offer a pass to a particular family, the board member who received the request will notify both the member and the volunteer coordinators of this family having no volunteer jobs for this particular session; this is intended to ensure confidentiality.</li>
    <li>Hardship Passes will be tracked on the honor system.</li>
    <li>We will keep this policy on the FAQ’s for members page.</li>
  </ul>