<%= content_for :page_title, 'Privacy Policy' %>

<h2>Privacy Policy</h2>
<p>We are committed to protecting the privacy of our members. You enter or provide to us to enter all of your own information and the information for your family. This includes but is not necessarily limited to:
<ul>
  <li>name (adults and children)</li>
  <li>birthday (children -- for age calculation for classes and aggregated demographic information)</li>
  <li>social media information (optional, adults and children)</li>
  <li>address, phone number, email (family and emergency contact)</li>
  <li>history of membership and class and volunteer assignments (adults and children)</li>
</ul>
We do not collect or store any credit card or banking information. If paypal is used for payment, we keep no record of any paypal account information or financial account information.</p>
<p>Personal information is shared with current members. Demographic information is aggregated and shared with the public with no identifying information. Current members can edit their own information or ask for help. Former members can have their personal details removed from the system upon request.</p>
<p>We do our best to secure the information stored within our website. However, we make no guarantees reguarding data security.</p>