<%= content_for :page_title, 'Sick Policy' %>

<h2>Sick Policy</h2>
<p>We request that members who cannot attend CUCO on a given week give notice so that their volunteer jobs can be filled, however, we don’t mark or track absences and encourage you to not attend if you may have a communicable disease.</p>

<p>If any member of your household is ill, please keep everyone home. A person is considered ill if they:</p>
<ul>
  <li>Seem very tired and need bed rest (common with flu symptoms)</li>
  <li>Have vomiting or diarrhea in the past 24 hours.</li>
  <li>Become short of breath or have an increase in wheezing during normal activity.</li>
  <li>Have a cough that interrupts normal activity.</li>
  <li>Have a temperature above 100°F by mouth.</li>
  <li>Have yellow or green drainage from nose or eye(s).</li>
  <li>Break out in a rash.</li>
</ul>

<h2>Symptom Free Wait Period</h2>
<p>Please observe the following wait periods after symptoms subside before deciding to return to co-op:</p>
<ul>
  <li>Antibiotics, a full 24 hours without missing any doses. Be sure to take the full course of medication.</li>
  <li>Fevers, a full 24 hours for a fever without other symptoms, 48 hours for a fever with other symptoms present. Fever free means no help from fever reducing medication like ibuprofen or Tylenol.</li>
  <li>Vomiting/Diarrhea, a full 48 hours after the last episode and the person has been eating and drinking normally.</li>
  <li>Head Lice, remain home until everyone is nit-free.</li>
</ul>

<h2>COVID-19</h2>
<p>If anyone in your household is showing any signs of COVID-19 or has had interactions with a confirmed COVID-19 case, do not come to co-op. New or worsening symptoms can include but are not limited to cough, fever/chills, shortness of breath, difficulty breathing, body aches, loss of taste or smell, congestion, nausea. Those who have been in close contact with a confirmed case of the virus should quarantine for 10 days.</p>

<h2>Hand Washing</h2>
<p>Please teach your child proper hand washing techniques: Scrub hands with warm, soapy water for a constant 30 seconds. You can sing the ABC's slowly. You can turn off the water with a paper towel. Hand washing is better at preventing illness than hand sanitizer. Wash your hands often.</p>

<h2>Statement on Contagious Disease</h2>
<p>A contagious disease is one that can be spread by close contact with another person or shared object. Examples include strep throat, pink eye, vomiting/diarrhea and chickenpox. A disease is often most contagious 24 hours before the child shows signs of illness. It is very hard to prevent the spread of germs in the co-op setting. However, good hand washing is the best prevention both in and out of co-op.</p>

<%= link_to 'Return to FAQ', page_path('faq') %>
