<ol><% memberships.each do |membership| %>
  <li>
    <%= link_to membership.family.name, membership.family %>
    <%= render 'family_schedules/schedule_link', membership: membership %>
  </li>
<% end %></ol>
