<%= content_for :page_title, "All Signups by Last Name for #{@cuco_session.name}" %>

<h2><strong><%= @cuco_session.name %></strong> All Signups by Last Name</h2>

<%= render 'signups_table' %>

<%= link_to 'Back to Session', @cuco_session, class: "hidden-print" %>
