<%= content_for :page_title, "Volunteers for #{@cuco_session.name}" %>

<h2><strong><%= @cuco_session.name %></strong> Volunteers</h2>
This page lists all people of any age signed up for a job, and all adults signed
up as students (for emergency backups, and information about the number of adults
in the room).

<%= render 'signups_table' %>

<%= link_to 'Back to Session', @cuco_session, class: "hidden-print" %>
