<%= content_for :page_title, "All Signups for #{@cuco_session.name}" %>

<h1>All Signups for <%= @cuco_session.name %></h1>

<% @cuco_session.paid_memberships.sort_by { |membership| membership.family.name}.each do |membership| %>
  <% @membership = membership %>
  <%= render 'memberships/schedule_table', signups: membership.family_signups %>
  <hr>
<% end %>

<%= link_to 'Back to Session', @cuco_session %>
