<% family_schedule.valid? %>
<% if family_schedule.errors.any? %>
  <div id="error_explanation" class="error-explanation">
    <h2><%= pluralize(family_schedule.errors.count, "error") %> and/or 
    <% if family_schedule.errors.count > 1 %>
      <%= pluralize("", "warning") %> exist
    <% else %>
      warning exists
    <% end %> in this schedule:</h2>
    <ul>
    <% family_schedule.errors.messages.values.each do |message_list| %>
      <% message_list.each do |message| %>
        <li><%= message %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
<% end %>
