<% if @course.non_student_non_worker_signups.count != 0 %>
  <h3>Not Students and Not Volunteers</h3>
  This is generally a parent of a student who needs them near, or a young child that is not attending the class but needs to be near their parent volunteer.
  <ul><% @course.non_student_non_worker_signups.sort_by {|signup| [signup.person.last_name, signup.person.first_name]}.each do |course_signup| %>
    <% person = course_signup.person %>
    <li><%= person.name %>
      <% if @course.cuco_session.course_signups_open? and
            @people.include? person %>
        <%= link_to image_tag('delete.png'), cuco_session_course_course_signup_path(@cuco_session, @course, course_signup), method: :delete,
              data: { confirm: 'Are you sure?' }, title: "Delete #{person.name}" %>
      <% end %>
    </li>
  <% end %></ul>
<% end %>
  