<% if @show_on_call %>
  <h3>On Call Volunteers
    <% if @course.cuco_session.course_offerings_open? or
          @course.cuco_session.course_signups_open? or
          current_user&.can? :manage_all, :course_signups %>
      <%= link_to image_tag('add.png'), new_cuco_session_course_course_signup_path(@cuco_session, @course, role_name: :on_call_volunteer), title: "Add Person to Course" %>
    <% end %>
  </h3>
  <ul><% @course.on_call_volunteer_signups.includes(:person).order('people.last_name', 'people.first_name').each do |course_signup| %>
    <% if person = course_signup&.person %>
      <li><%= person.name %>
    <% else %>
      <li>No Person (probably an error)
    <% end %>
      <% if (@course.cuco_session.course_signups_open? and
            @people.include? person) or
            current_user&.can? :manage_all, :course_signups %>
        <%= link_to image_tag('delete.png'), cuco_session_course_course_signup_path(@cuco_session, @course, course_signup), method: :delete,
              data: { confirm: 'Are you sure?' }, title: "Delete #{person&.name}" %>
      <% end %>
    </li>
  <% end %></ul>
<% end %>
