<% if @course.waiting_list_signups.count != 0 %>
  <h3>Waiting List</h3>
  <ul><% @course.waiting_list_signups.sort_by {|signup| [signup.person.last_name, signup.person.first_name]}.each do |course_signup| %>
    <% person = course_signup.person %>
    <li><%= person.name %>
      <% if @course.cuco_session.course_signups_open?(current_user) and
            @people.include? person %>
        <%= link_to image_tag('delete.png'), destroy_signup_cuco_session_course_path(@cuco_session, course_signup), method: :delete,
              data: { confirm: 'Are you sure?' }, title: "Delete #{person.name}" %>
      <% end %>
    </li>
  <% end %></ul>
<% end %>
