<%= content_for :page_title, "Courses from #{@cuco_session.name}" %>

<h1>Listing Classes in <%= @cuco_session.name %></h1>

<table>
  <thead>
    <tr>
      <th>Class Name</th>
      <th>Class Description</th>
      <th>Age Range</th>
      <th>Fee</th>
      <th>Drop-Ins</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @courses %>
  </tbody>
 </table>

<br>

<%= link_to 'New Course', new_cuco_session_course_path %>
