<h1>Editing Event Type: <%= @event_type.name %></h1>

<div id="warning">EDITING EVENT TYPES CAN HAVE SERIOUS CONSEQUENCES. PLEASE BE CAREFUL!</div><br>

<%= render 'form' %>

<%= link_to 'Show', event_types_path %> |
<%= link_to 'Back', :back %>
