<h1>Event Types</h1>

<table>
  <% @event_types.each do |event_type| %>
    <tr>
      <td><%= link_to event_type.name, edit_event_type_path(event_type) %></td>
      <td><%= link_to image_tag('wrench.png'), edit_event_type_path(event_type),
              title: "Edit #{event_type.name}" %></td>
      <td><%= link_to image_tag('delete.png'), event_type, method: :delete,
              data: { confirm: 'Are you sure?' }, title: "Delete #{event_type.name}" %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to image_tag("add.png"), new_event_type_path, title: "Add New Event Types" %>