.period {
    font-size: 2em;
    padding-top: 40px;
}

.people-in-schedule {
    margin-left: 20px;
}

.person {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 30px;
}

.course {
    font-weight: bold;
}

.back-link-area-bottom {
    margin-top: 40px;
}

.error-explanation {
    margin: 20px 0;
}

.only-print {
    display: none;
}

.room {
    font-style: italic;
}
