// Place all the styles related to the Memberships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.period {
  font-size: 2em;
  padding-top: 20px;
}

.person {
  font-size: 1.2em;
  font-weight: bold;
  padding-left: 20px;
}

.course {
    padding-left: 40px;
    font-weight: bold;
}

.role {
  padding-left: 40px;
  font-style: italic;
}

.room {
  padding-left: 40px;  
}
