@media print {
  footer, div#header, .debug_dump, div#alert, .no-print, .pagination {
    display: none;
  }

  tbody > tr:nth-child(odd) > td {
    background-color: #f9f9f9 !important;
    -webkit-print-color-adjust: exact;
  }

  tbody > tr > td {
    font-size: 1.3em;
  }

  thead {
    font-size: 1.5em;
  }

  a:link:after, a:visited:after {
      content: "";
  }

}