@media print {
  footer, div#header, .debug_dump, div#alert, .no-print, .pagination, .one-column {
    display: none;
  }

  tbody > tr:nth-child(odd) > td {
    background-color: #f9f9f9 !important;
    -webkit-print-color-adjust: exact;
  }

  a:link:after, a:visited:after {
      content: "";
  }

  #two-column {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  tr td {
    font-size: .8em;
    border: none;
  }

  thead tbody {
    font-size: 1.2em;
  }

  div > table > tbody > tr.Before > td {
    background-color: white !important;
    -webkit-print-color-adjust: exact;
  }

  div > table > tbody > tr.First > td {
    background-color: #ffdddd !important;
    -webkit-print-color-adjust: exact;
  }

  div > table > tbody > tr.Second > td {
    background-color: #fbe5d6 !important;
    -webkit-print-color-adjust: exact;
  }

  div > table > tbody > tr.Lunch > td {
    background-color: #fff2cc !important;
    -webkit-print-color-adjust: exact;
  }

  div > table > tbody > tr.Third > td {
    background-color: #e2f0d9 !important;
    -webkit-print-color-adjust: exact;
  }

  div > table > tbody > tr.Fourth > td {
    background-color: #deebf7 !important;
    -webkit-print-color-adjust: exact;
  }

  div > table > tbody > tr.After > td {
    background-color: #dfc9ef !important;
    -webkit-print-color-adjust: exact;
  }

  /* Print styles for all courses report */

  .no-print {
      display: none;
  }

  /* this makes the margin so small that print headers/footers can't be added */
  /* but it also makes the text go right up to (and past the edge of the page)
  @page {
      margin: 0;
  }
  */

  .listing-courses {
      page-break-inside: avoid;
      padding: 20px 20px 0 20px;
      font-family: Verdana, serif;
  }

  .listing-courses h2 {
      font-size: 2rem;
  }

  .course-print-style {
      font-size: 10px;
      line-height: 1.2;
  }

  .course-print-style ul {
      font-size: 10px;
      line-height: 1.2;
  }

  .only-print {
      display: block;
  }
}
