<li class="dropdown-menu-item">
  <%= link_to 'Families', families_path %>
</li>

<li class="dropdown-menu-item">
  <%= link_to 'Pronouns', pronouns_path %>
</li>

<% if current_user.can? :index, CucoSessionsController %>
  <li class="dropdown-menu-item">
    <%= link_to 'Sessions', cuco_sessions_path %>
  </li>
<% end %>