<li class="dropdown-menu-item">
  <%= link_to 'My Info', user_path(current_user) %>
</li>

<% if current_user&.person&.family %>
  <li class="dropdown-menu-item">
    <%= link_to 'My Family', family_path(current_user.person.family) %>
  </li>
<% end %>

<% if current_user&.can? :index, :families %>
  <% if !current_user&.can? :index, :users %>
    <%= render 'layouts/basic_info' %>
  <% end %>
<% end %>