<li class="dropdown-menu-item">
  <%= link_to 'My Info', user_path(current_user) %>
</li>

<% if current_user&.person&.family %>
  <li class="dropdown-menu-item"><%= link_to 'My Family', family_path(current_user.person.family) %></li>
<% end %>

<% # currently show this always, but when we actually implement it, it will before_action
   # restricted to when it makes sense %>
  <li class="dropdown-menu-item">My Schedules (coming soon)</li>
